
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Watcha Fake Webpage</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary">Main call to action</a>
            <a href="#" class="btn btn-secondary">Secondary action</a>
          </p>
        </div>
      </section>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
       <%= link_to 'Home', root_path, :class=>"nav-link" %>
      </li>  
      <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to 'log_out', destroy_user_session_path, method: :delete, :class=>"nav-link" %>
        <% else %>
          <%= link_to 'log_in', new_user_session_path, :class=>"nav-link" %>
        <% end %>
          
      </li>
       <li class="nav-item ">
       <%= link_to 'admin_page', admin_users_path, :class=>"nav-link"%>
      </li>

     
    </ul>
  </div>
</nav>
